/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	TYPOGRAPHY
	-----------------------------------
	
	- Headers

	
-------------------------------------------------------------------------*/

/* HEADERS --------------------------------------------------------------*/

h1 {
	font-family: $CoffeeService;
	font-weight: normal;
	text-align: center;
	color: #323136;
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: uppercase;
}