/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	TYPOGRAPHY
	-----------------------------------
	
	- Headers

	
-------------------------------------------------------------------------*/

/* HEADERS --------------------------------------------------------------*/

h1 {
	font-family: $CoffeeService;
	text-align: center;
	color: #323136;
}