/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	MIXINS
	-----------------------------------
	
	- Rounded Corners
	- Box Sizing
	- Opacity
	- Rotate
	- Animations
	
-------------------------------------------------------------------------*/

@mixin rounded-corners($radius: 5px) {
	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}


@mixin box-sizing($sizing: border-box) {
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	-ms-box-sizing: $sizing;
	box-sizing: $sizing;    
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	
	@-moz-keyframes #{$name} {
		@content;
	}
	
	@-ms-keyframes #{$name} {
		@content;
	}
	
	@keyframes #{$name} {
		@content;
	} 
}

@mixin animation($animation) {
	-webkit-animation: #{$animation};
	-moz-animation: #{$animation};
	-ms-animation: #{$animation};
	animation: #{$animation};
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@include keyframes(bounce) {
	0%, 50%, 100% {
		@include transform(translateY(0));
	}
	
	20%, 70% {
		@include transform(translateY(-10px));
	}
}