/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	BASE STRUCTURE (MOBILE FIRST)
	-----------------------------------
	
	- Body & Wrapper
	- Intro

	
-------------------------------------------------------------------------*/

/* BODY & WRAPPER -------------------------------------------------------*/

html, body {
	height: 100%;
	font-family: $Lato;
	font-weight: 100;
}

#main_content {
	height: 100%;
	line-height: 24px;
}

::selection {
	background: $neonBlue; /* Safari */
	color: $neonPink;
}

::-moz-selection {
	background: $neonBlue; /* Firefox */
	color: $neonPink;
}

/* INTRO ------------------------------------------------------------*/

#intro {
	position: relative;
	background: url(../images/backgrounds/zack-mobile.jpg) center 70px no-repeat;
	height: 100%;
	
	h1 {
		margin: 0;
		padding: 370px 0 0 0;
		font-size: 24px;
		line-height: 100%;
	}

	.arrow {
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left:-10px;
		width: 20px;
		height: 20px;
		background: url(../images/icons/arrow_down_dark.png) 0 0 no-repeat;
		background-size: contain;
	}
	
	.bounce {
		@include animation(bounce 2s infinite);
	}

}

/* INFO ------------------------------------------------------------*/

#info {
	background: $darkGrey url(../images/backgrounds/info_jaggy.png) 0 0 repeat-x;
	background-size: 20px;
	padding: 20px 5%;
	color: #fff;
	
	h2, h3 {
		font-size: 16px;
	}
	
	p {
		margin: 0 0 40px 0;
	}

	ul {
		padding: 0 0 0 20px;
	}
	
	section {
		margin: 0 0 40px 0;
		padding: 0 0 0 0;
	}
	
}
