@import url(/public/css/normalize.css);
/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	BASE STYLE IMPORTS
	-----------------------------------
	
	- Normalize
	- Mixins
	- Helpers
	- Core Styles
	- Structure
	- Header 
	- Footer
	- Media Queries
	- Retina

-------------------------------------------------------------------------*/
/* NORMALIZE ------------------------------------------------------------*/
/* MIXINS ---------------------------------------------------------------*/
/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	MIXINS
	-----------------------------------
	
	- Rounded Corners
	- Box Sizing
	- Opacity
	- Rotate
	- Animations
	
-------------------------------------------------------------------------*/
@-webkit-keyframes bounce {
  /* line 78, ../../resources/sass/_mixins.scss */
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  /* line 82, ../../resources/sass/_mixins.scss */
  20%, 70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); } }

@-moz-keyframes bounce {
  /* line 78, ../../resources/sass/_mixins.scss */
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  /* line 82, ../../resources/sass/_mixins.scss */
  20%, 70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); } }

@-ms-keyframes bounce {
  /* line 78, ../../resources/sass/_mixins.scss */
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  /* line 82, ../../resources/sass/_mixins.scss */
  20%, 70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); } }

@keyframes bounce {
  /* line 78, ../../resources/sass/_mixins.scss */
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  /* line 82, ../../resources/sass/_mixins.scss */
  20%, 70% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); } }

/* HELPERS --------------------------------------------------------------*/
/* CORE STYLES ----------------------------------------------------------*/
/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	FONTS
	-----------------------------------
	
	- Coffee Service
	- Variables
	
-------------------------------------------------------------------------*/
/* COFFEE SERVICE -------------------------------------------------------*/
@font-face {
  font-family: 'Coffee Service';
  src: url("../fonts/coffeeservice-webfont.eot");
  src: url("../fonts/coffeeservice-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/coffeeservice-webfont.woff") format("woff"), url("../fonts/coffeeservice-webfont.ttf") format("truetype"), url("../fonts/coffeeservice-webfont.svg#coffee_serviceregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* VARIABLES ------------------------------------------------------------*/
/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	TYPOGRAPHY
	-----------------------------------
	
	- Headers

	
-------------------------------------------------------------------------*/
/* HEADERS --------------------------------------------------------------*/
/* line 15, ../../resources/sass/core/_typography.scss */
h1 {
  font-family: "Coffee Service";
  font-weight: normal;
  text-align: center;
  color: #323136; }

/* line 22, ../../resources/sass/core/_typography.scss */
h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-transform: uppercase; }

/* STRUCTURE ------------------------------------------------------------*/
/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	BASE STRUCTURE (MOBILE FIRST)
	-----------------------------------
	
	- Body & Wrapper
	- Intro

	
-------------------------------------------------------------------------*/
/* BODY & WRAPPER -------------------------------------------------------*/
/* line 16, ../../resources/sass/_structure.scss */
html, body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 100; }

/* line 22, ../../resources/sass/_structure.scss */
#main_content {
  height: 100%;
  line-height: 24px; }

/* line 27, ../../resources/sass/_structure.scss */
::selection {
  background: cyan;
  /* Safari */
  color: #ff007e; }

/* line 32, ../../resources/sass/_structure.scss */
::-moz-selection {
  background: cyan;
  /* Firefox */
  color: #ff007e; }

/* INTRO ------------------------------------------------------------*/
/* line 39, ../../resources/sass/_structure.scss */
#intro {
  position: relative;
  background: url(../images/backgrounds/zack-mobile.jpg) center 70px no-repeat;
  height: 100%; }
  /* line 44, ../../resources/sass/_structure.scss */
  #intro h1 {
    margin: 0;
    padding: 370px 0 0 0;
    font-size: 24px;
    line-height: 100%; }
  /* line 51, ../../resources/sass/_structure.scss */
  #intro .arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background: url(../images/icons/arrow_down_dark.png) 0 0 no-repeat;
    background-size: contain; }
  /* line 62, ../../resources/sass/_structure.scss */
  #intro .bounce {
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -ms-animation: bounce 2s infinite;
    animation: bounce 2s infinite; }

/* INFO ------------------------------------------------------------*/
/* line 70, ../../resources/sass/_structure.scss */
#info {
  background: #323136 url(../images/backgrounds/info_jaggy.png) 0 0 repeat-x;
  background-size: 20px;
  padding: 20px 5%;
  color: #fff; }
  /* line 76, ../../resources/sass/_structure.scss */
  #info h2, #info h3 {
    font-size: 16px; }
  /* line 80, ../../resources/sass/_structure.scss */
  #info p {
    margin: 0 0 40px 0; }
  /* line 84, ../../resources/sass/_structure.scss */
  #info ul {
    padding: 0 0 0 20px; }
  /* line 88, ../../resources/sass/_structure.scss */
  #info section {
    margin: 0 0 40px 0;
    padding: 0 0 0 0; }

/* HEADER ---------------------------------------------------------------*/
/* FOOTER ---------------------------------------------------------------*/
/* MEDIA QUERIES --------------------------------------------------------*/
/*-------------------------------------------------------------------------
	
	ZACK GINIES SASS PROJECT
	
	MEDIA QUERIES
	-----------------------------------
	
	- Tablets & Smaller Laptops
	- Desktop
	- Extra Large Screen
	- Print

-------------------------------------------------------------------------*/
/* TABLET & SMALLER LAPTOPS ---------------------------------------------*/
@media screen and (min-width: 768px) {
  /*-------------------------------------------------------------------------
  	
  	ZACK GINIES TURBO HIPSTER
  	
  	TABLET STRUCTURE
  	-----------------------------------
  	
  	- Intro
  	- Info
  
  	
  -------------------------------------------------------------------------*/
  /* INTRO ------------------------------------------------------------*/
  /* line 16, ../../resources/sass/mq/tablet/_structure.scss */
  #intro {
    display: table;
    background: url(../images/backgrounds/zack.jpg) center 0 fixed no-repeat;
    background-size: cover;
    width: 100%; }
    /* line 22, ../../resources/sass/mq/tablet/_structure.scss */
    #intro h1 {
      display: table-cell;
      padding: 0 0 0 0;
      vertical-align: middle;
      font-size: 142px;
      letter-spacing: 4px;
      color: #fff; }
    /* line 31, ../../resources/sass/mq/tablet/_structure.scss */
    #intro .arrow {
      display: none; }

  /* INFO ------------------------------------------------------------*/
  /* line 39, ../../resources/sass/mq/tablet/_structure.scss */
  #info {
    position: relative;
    background: none;
    padding-top: 40px; }
    /* line 44, ../../resources/sass/mq/tablet/_structure.scss */
    #info h2 {
      position: absolute;
      left: 0;
      top: -77px;
      background: #fff;
      padding: 20px 0;
      width: 100%;
      font-weight: 700;
      letter-spacing: 6px;
      text-align: center;
      text-transform: uppercase;
      color: #ff007e; }
      /* line 55, ../../resources/sass/mq/tablet/_structure.scss */
      #info h2 span {
        font-style: italic; } }
/* DESKTOP -------------------------------------------------------------*/
@media screen and (min-width: 1030px) {
  /*-------------------------------------------------------------------------
  	
  	ZACK GINIES TURBO HIPSTER
  	
  	DESKTOP STRUCTURE
  	-----------------------------------
  	
  	- Intro
  
  	
  -------------------------------------------------------------------------*/
  /* INTRO ------------------------------------------------------------*/
  /* line 17, ../../resources/sass/mq/desktop/_structure.scss */
  #intro h1 {
    font-size: 170px;
    letter-spacing: 6px; } }
/* EXTRA LARGE SCREEN --------------------------------------------------*/
/* PRINT ---------------------------------------------------------------*/
@media print {
  /* Welcome to Compass. Use this file to define print styles.
   * Import this file using the following HTML or equivalent:
   * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */ }
/* RETINA ---------------------------------------------------------------*/
