/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	TABLET STRUCTURE
	-----------------------------------
	
	- Portrait

	
-------------------------------------------------------------------------*/

/* PORTRAIT ------------------------------------------------------------*/

#portrait {
	background: url(../images/backgrounds/zack.jpg) center 0 fixed no-repeat;
	background-size: cover;
	
	h1 {
		font-size: 60px;
		color: #fff;
	}

}