/*-------------------------------------------------------------------------
	
	ZACK GINIES TURBO HIPSTER
	
	TABLET STRUCTURE
	-----------------------------------
	
	- Intro
	- Info

	
-------------------------------------------------------------------------*/

/* INTRO ------------------------------------------------------------*/

#intro {
	display: table;
	background: url(../images/backgrounds/zack.jpg) center 0 fixed no-repeat;
	background-size: cover;
	width: 100%;
	
	h1 {
		display: table-cell;
		padding: 0 0 0 0;
		vertical-align: middle;
		font-size: 142px;
		letter-spacing: 4px;
		color: #fff;
	}
	
	.arrow {
		display: none;
	}

}

/* INFO ------------------------------------------------------------*/

#info {
	position: relative;
	background: none;
	padding-top: 40px;
	
	h2 {
		position: absolute; left: 0; top: -77px;
		background: #fff;
		padding: 20px 0;
		width: 100%;
		font-weight: 700;
		letter-spacing: 6px;
		text-align: center;
		text-transform: uppercase;
		color: $neonPink;
		
		span {
			font-style: italic;
		}
	}
}